// ========================================================================== //
// == GENERAL NTS:                                                         == //
// ==     Refer to notebook for measurements and layout area allocation!!  == //
// ========================================================================== //
.blog-body {
    background-color: $primary-color;
}

.main-blog {
    max-width: 1920px;
    display: flex;
    justify-content: flex-end;
}

// =================== //
// == ASIDE SECTION == //
// =================== //
.blog-left {
    width: 30%;
    position: relative;
    
    .aside-image-container {
        // setting image offset to 20px
        width: calc(100% - 20px);
        position: absolute;
        top: 100px; // (aside > margin-top) - 20px
        left: 0;
    }
}

aside {
    background-color: $secondary-color;
    width: 80%;
    margin-left: 20%;
    margin-top: 120px;
    padding: 75% 7% 10% 7%; 

    h5 {
        margin-top: 50px;
    }

    ul {
        padding-top: 20px;
    }

    li {
        color: $primary-text;
        list-style: disc;
        list-style-position: inside;
    }

    a {
        color: $primary-text;
        text-decoration: none;
        position: relative;
        transition: all 0.4s;
    }

    li:hover a,
    li:focus a {
        text-shadow: 3px 3px 3px $primary-accent; 
    }
}

// ================== //
// == BLOG SECTION == //
// ================== //
.blog-right {
    width: 65%;
    margin-left: 5%;
    padding-bottom: 10%;
    text-align: left;
    position: relative;
    
    .blog-image-container {
        width: calc(100% - 40px);
        position: absolute;
        top: -140px;
        right: 0;
        box-shadow: -40px 40px $primary-accent;
    }

    .blog-post {
        border: 3px solid $primary-accent;
        width: 90%;
        border-right: none;
        margin-right: 10%;
        padding-left: calc(5% - 3px);
    }

    .blog-content-wrapper {
        padding-top: 70%;
        padding-bottom: 5%;
    }

    h3 {
        text-align: left;
    }

    h3 + p {
        margin-top: 2%;
    }
}

// ====================== //
// == COMMENTS SECTION == //
// ====================== //
.comment {
    margin: 5% 10% 0 5%;
    
    h4 {
        padding-top: 0;
        margin-bottom: 7%;
    }
}

.comment-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;

    .comment-image-container {
        width: 11%;
    }

    .comment-blurb {
        width: 85%;
    }

    .comment-date {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}



