.blog-body {
    background-color: $primary-color;
}

.main-blog {
    max-width: 1920px;
    display: flex;
    justify-content: flex-end;
}

.blog-left {
    width: 30%;
    position: relative;
    
    .aside-image-container {
        width: calc(100% - 40px);
        position: absolute;
        top: 100px; // this will depend on how much padding-top i put later
        left: 0;
    }

    img {
        width: 100%;
    }
}

aside {
    background-color: $secondary-color;
    width: 80%;
    margin-left: 20%;
    margin-top: 140px;
    padding: 65% 7% 10% 7%; 


    h5 {
        margin-top: 50px;
    }

    ul {
        padding-top: 20px;
    }

    li {
        color: $primary-text;
        list-style: disc;
        list-style-position: inside;
    }

    a {
        color: $primary-text;
        text-decoration: none;
        position: relative;
        transition: all 0.4s;
    }

    // a::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     bottom: -2px;
    //     background-color: $primary-accent;
    //     width: 0px;
    //     height: 2px;
    //     transition: all 0.2s ease-in-out;
    //     transition-duration: 0.75s;
    //     opacity: 0;
    // }

    li:hover a,
    li:focus a {
        // width: 100%;
        // opacity: 1;
        // color: $primary-accent;
        text-shadow: 3px 3px 3px $primary-accent;
        
    }
}


.blog-right {
    width: 65%;
    margin-left: 5%;
    text-align: left;
    position: relative;
    
    .blog-image-container {
        width: calc(100% - 40px);
        position: absolute;
        top: -140px;
        right: 0;
        box-shadow: -40px 40px $primary-accent;

        img {
            width: 100%;
        }
    }

    .blog-post {
        border: 3px solid $primary-accent;
        width: 90%;
        border-right: none;
        margin-right: 10%;
        padding-left: calc(5% - 3px);
    }

    .blog-content-wrapper {
        padding-top: 70%;
        padding-bottom: 5%;
    }

    h3 {
        text-align: left;
    }

    h3 + p {
        margin-top: 2%;
    }

}