@media (max-width: 1300px) {
    .contact-input-form {
        padding-top: 25px;

        .name-email {
            flex-direction: column;
            input[type=email],
            input[type=text] {
                margin-top: 3%;
                width: 100%;
            }
        }
    }
} // end of 1300px


@media (max-width: 1024px) {
    .contact-header {
        h2 {
            margin-left: 10%;
        }
    }
    
    .contact-body {
        main {
            flex-direction: column;
        }
    }

    .contact-info {
        width: 90%;
        padding: 4% 0 4% 10%;

        h4 {
            margin: 3% 0;
        }
    }

    .contact-form {
        width: 80%;
        margin: 0 10%;
        padding-bottom: 100px;
    }

    .contact-input-form {
        position: static;
        width: 100%;
        margin: 0;
    }
} // end of 1024px


@media (max-width: 800px) {
    .contact-form {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    
    .contact-input-form {
        box-shadow: none;
        padding: 30px 50px 100px;

        textarea {
            height: 450px;
        }
    }
} // end of 800px


@media (max-width: 600px) {
    .contact-info {
        padding: 10% 0 10% 10%;

        h4 {
            margin: 6% 0;
        }
    }
} // end of 600px


@media (max-width: 450px) {
    .contact-form {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    .contact-input-form {
        padding: 20px 20px 60px;

        input[type=email]:focus,
        input[type=text]:focus,
        textarea:focus,
        .contact-submit:hover,
        .contact-submit:focus {
            box-shadow: 8px 8px $primary-accent;
        }
    }
} // end of 450px