// GENERAL NAVIGATION
nav ul {
    display: flex;
    justify-content: flex-end;

    li {
        padding: 15px 0;
        margin-left: 50px;
    }
    
    a {
        transition: color 0.3s;
    }

    li:hover a,
    li:focus a {
        color: $primary-accent;
    }
}

.hamburger {
    display: none;
}

// MAIN PAGE HEADER
.main-header {
    height: 95vh;
    max-height: 1000px;
    background-image: 
        linear-gradient(rgba(0,0,0,0.4)),
        url(../assets/header-image.jpg);
    background-size: cover;
    position: relative;

    h1 {
        width: 40%;
        max-width: 530px;
    }

    .main-fishies {
        width: 55%;
        max-width: 1200px;
        position: absolute;
        right: 0;
        bottom: -150px;
    }
}

// BLOG & CONTACT PAGE HEADERS
.blog-header,
.contact-header {
    height: 70vh;
    min-height: 500px;
    background-size: cover;

    h2 {
        width: auto;
        max-width: 1920px;
        margin-top: 12%;
        margin-left: calc(35% + 40px);
    }
}

.blog-header {
    background-image: url(../assets/blog-header.jpg);
}

.contact-header {
    background-image: url(../assets/contact-header.jpg);
}