// ================= //
// == UNDA DA SEA == //
// ================= //
.under-sea {
    background-color: $primary-color;
    min-height: 600px;

    h3 {
        padding-top: 22%;
    }

    button {
        display: block;
        margin: 0 auto;
    }
}

.tiny-wrapper {
    padding-bottom: 10%;
}

h3 + p,
h4 + p {
    margin-top: 5%;
    margin-bottom: 7%;
}

button {
    padding: 12px 25px;
}

.find-more {
    color: $primary-color;
    background-color: $primary-accent;
    border: 3px solid $primary-accent;
    transition: all 0.5s;
}

.find-more:hover,
.find-more:focus {
    box-shadow: 15px 15px $secondary-color;
}

.read-more {
    background-color: $primary-color;
    border: 3px solid $primary-color;
    transition: all 0.5s;
}

// =========================== //
// == DAT GREEN SECTION DOE == //
// =========================== //
.additions-right,
.nemo-left {
    width: 45%;
}

h4 {
    padding-top: 12%;
}


// NEW ADDITIONS
.additions {
    background-color: $secondary-color;
    position: relative;
    min-height: 425px;

    // IMAGE
    .additions-left {
        width: 45%;
        max-width: 700px;
        position: absolute;
        top: -40px;
        right: 55%;
        box-shadow: 40px 40px $primary-accent;
    }

    // BLURB
    .additions-right {
        margin-right: 0;
        margin-left: auto;
    }

    .read-more:hover,
    .read-more:focus {
        box-shadow: 15px 15px $primary-accent;
    }
}


// FINDING NEMO
.nemo {
    background-color: $secondary-color;
    min-height: 400px;
    position: relative;
    text-align: right;

    // IMAGE
    .nemo-right {
        width: 45%;
        max-width: 700px;
        position: absolute;
        bottom: -40px;
        left: 55%;
        box-shadow: -40px 40px $primary-accent;
    }

    // BLURB
    .nemo-left {
        margin-left: 0;
        margin-right: auto;
    }

    .read-more:hover,
    .read-more:focus {
        box-shadow: -15px 15px $primary-accent;
    }
}

// ================== //
// == INFO SECTION == //
// ================== //
.info {
    background-color: $primary-color;
    min-height: 500px;
    padding-top: 150px;
    padding-bottom: 50px;

    h4 {
        padding-top: 0;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 47%;
        justify-content: space-between;
    }
    
    li {
        display: flex;
        width: 47%;
    }

    i {
        width: 65px;
        height: 65px;
        font-size: 3rem;
        text-align: center;
        background-color: $primary-accent;
        padding: 15px;
        border-radius: 50%;
    }
    
    .info-blurb {
        margin-left: 5%;
        width: 90%;
    }

    p {
        padding-bottom: 30px;
    }
}

// ====================== //
// == 'WHALEP' SECTION == //
// ====================== //
.whale {
    height: 60vh;
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
}

// ===================== //
// == PROFILE SECTION == //
// ===================== //
.profile {
    background-color: $primary-color;
    min-height: 400px;

    h4 {
        padding-top: 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }

    .profile-left {
        width: 25%;
    }

    img {
        width: 100%;
        display: block;
        box-shadow: 40px 40px $primary-accent;
    }

    .profile-right {
        width: 65%;
    }
}

// ===================== //
// == GALLERY SECTION == //
// ===================== //
.gallery {
    background-color: $secondary-color;

    .wrapper {
        padding: 100px 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        width: 32%;
        overflow: hidden;
    }

    li:hover img,
    li:focus img {
        transform: scale(1.08);
    }

    img {
        max-width: 100%;
        transition: all 0.3s;
    }
}