@media (max-width: 1300px) {
    // MAIN PAGE
    .nemo {
        .nemo-right {
            bottom: 0px;
        }
    }

    // CONTACT PAGE
    .contact-input-form {
        padding-top: 25px;

        .name-email {
            flex-direction: column;
            input[type=email],
            input[type=text] {
                margin-top: 3%;
                width: 100%;
            }
        }
    }
} // end of 1300px


@media (max-width: 1250px) {
    // MAIN HEADER
    .main-header {
        .main-fishies {
            bottom: -75px;
        }
    }
} // end of 1250px


@media (max-width: 1150px) {
    // MAIN PAGE
    .additions {
        .additions-left {
            top: 40px;
        }
    }

    .nemo {
        .nemo-right {
            top: 10%;
        }

        .wrapper {
            padding-bottom: 6%;
        }
    }

    .profile {
        .profile-left {
            width: 35%;
        }

        img {
            box-shadow: 25px 25px $primary-accent;
        }

        .profile-right {
            width: 55%;
        }
    }
} // end of 1150px


@media (max-width: 1065px) {
    // BLOG PAGE
    .main-blog {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .blog-header {
        h2 {
            margin-left: calc(10% + 40px);
        }
    }

    .blog-left,
    .blog-right {
        width: 80%;
        margin: 0 10%;
        .aside-image-container {
            width: 80%;
            top: -20px;
            left: calc(10% + 20px);
        }   

        .blog-post {
            width: 100%;
            margin-right: 0;
        }
    }

    .blog-left {
        padding-bottom: 10%;
    }

    aside {
        width: 80%;
        margin: 0 10%;
        padding-top: 70%;
    }

    .comment,
    .comment-form {
        margin-right: 0;

        h4 {
            margin-top: 10%;
        }
    }

} // end of 1065px


@media (max-width: 1050px) {
    // MAIN PAGE
    .info {
        ul {
            flex-wrap: no-wrap;
            flex-direction: column;
            align-content: space-around;
        }

        li {
            width: 80%;
        }
    }
} // end of 1050px


@media (max-width: 1024px) {
    // CONTACT PAGE
    .contact-header {
        h2 {
            margin-left: 10%;
        }
    }
    
    .contact-body {
        main {
            flex-direction: column;
        }
    }

    .contact-info {
        width: 90%;
        padding: 4% 0 4% 10%;

        h4 {
            margin: 3% 0;
        }
    }

    .contact-form {
        width: 80%;
        margin: 0 10%;
        padding-bottom: 100px;
    }

    .contact-input-form {
        position: static;
        width: 100%;
        margin: 0;
    }
} // end of 1024px


@media (max-width: 800px) {
    // CONTACT PAGE
    .contact-form {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    
    .contact-input-form {
        box-shadow: none;
        padding: 30px 50px 100px;

        textarea {
            height: 450px;
        }
    }
} // end of 800px


@media (max-width: 770px) {
    // MAIN HEADER
    h1 {
        font-size: 10.8rem;
        line-height: 9.8rem;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        h1 {
            width: 50%;
        }
        
        .main-fishies {
            width: 100%;
            top: 65%;
        }
    }

    // MAIN PAGE
    .under-sea {
        display: flex;
        flex-direction: column-reverse;
        flex: 1 0 80%;
        h3 {
            font-size: 3.6rem;
            line-height: 4.6rem;
            padding-top: 85%;
        }
    }

    .tiny-wrapper {
        padding-bottom: 20%;
    }

    .additions {
        display: flex;
        flex-direction : column;
        padding: 5% 0;
        
        .additions-left {
            position: static;
            width: 85%;
            margin-top: 5%;
            margin: 0 auto;
            box-shadow: 20px 20px $primary-accent;
        }
    }

    .additions-right,
    .nemo-left {
        width: 100%;
    }

    .nemo {
        display: flex;
        flex-direction : column-reverse;
        padding: 5% 0;
        .nemo-right {
            position: static;
            width: 85%;
            margin-top: 5%;
            margin: 0 auto;
            box-shadow: -20px 20px $primary-accent;
        }
    }

    .info {
        li {
            width: 100%;
        }
    }

    .profile {

        .wrapper {
            flex-direction: column;
        }

        .profile-left {
            width: 50%;
        }

        img {
            box-shadow: 40px 40px $primary-accent;
        }

        .profile-right {
            width: 100%;
            padding-top: 15%;
        }
    }
} // end of 770px


@media (max-width: 750px) {
    // NAVIGATION
    .hamburger {
        display: block;
        text-align: right;
        color: $primary-text;
        font-size: 4rem;
        padding-top: 30px;
        padding-bottom: 0;
        margin: 0;
    }

    nav li:not(:first-of-type) {
        display: none;
    }

    .main-header {
        .main-fishies {
            top: 70%;
        }
    }

    // BLOG COMMENT FORM
    .comment-form {
        .name-email {
            flex-direction: column;
            input[type=email],
            input[type=text] {
                margin-top: 3%;
                width: 100%;
            }
        }
    }
} // end of 750px


@media (max-width: 700px) {
    // FOOTER
    footer {
        p {
            font-size: 1.6rem;
        }
    }
} // end of 700px


@media (max-width: 600px) {
    // MAIN HEADER
    .main-header {
        display: flex;
        flex-direction: column;
        height: 100vh;
        h1 {
            width: 50%;
        }
        
        .main-fishies {
            width: 100%;
            top: 70%;
        }
    }

    // MAIN PAGE
    .additions,
    .nemo {
        h4 {
            padding-top: 20%;
        }
    }

    .profile {
        .profile-left {
            width: 70%;
        }

        .profile-right {
            padding-top: 20%;
        }
    }

    .gallery {
        li:last-of-type {
            display: none;
        }

        li {
            width: 48%;
        }
    }

    // BLOG PAGE
    .blog-right {
        padding-bottom: 20%;

        .blog-content-wrapper {
            padding-top: 50%;
        }  

        .blog-image-container {
            width: calc(100% - 20px);
            position: absolute;
            top: -120px;
            right: 0;
            box-shadow: -20px 20px $primary-accent;
        }
    }

    .comment {
        h4{
            margin-top: 20%;
        }
    }

    .comment-item {
        flex-direction: column;
        padding-bottom: 15%;

        .comment-image-container {
            width: 20%;
            margin-bottom: 5%;
        }

        .comment-blurb {
            width: 100%;
        }
    }

    aside {
        width: 100%;
        margin: 0;
        padding-top: 75%;
    }

    .blog-left {
        
        .aside-image-container {
            width: 100%;
            top: -20px;
            left: 20px;
        } 
    }

    // CONTACT PAGE
    .contact-info {
        padding: 10% 0 10% 10%;

        h4 {
            margin: 6% 0;
        }
    }
} // end of 600px


@media (max-width: 550px) {
    .under-sea {
        h3 {
            padding-top: 65%;
        }
    }
} // end of 550px


@media (max-width: 450px) {
    // MAIN PAGE
    h3 + p,
    h4 + p {
        margin-top: 8%;
        margin-bottom: 11%;
    }

    .additions,
    .nemo {
        .additions-left,
        .nemo-right {
            width: 85%;
            box-shadow: 12px 12px $primary-accent;
        }
    }

    .profile {
        .profile-left {
            width: 85%;
            margin: 0 auto;
        }

        img {
            box-shadow: 20px 20px $primary-accent;
        }

        .profile-right {
            padding-top: 20%;
        }
    }

    .gallery {
        li:last-of-type {
            display: block;
        }

        ul {
            flex-direction: column;
        }
        li {
            width: 80%;
            margin: 5% auto;
        }
    }

    // CONTACT PAGE
    .contact-form {
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    .contact-input-form {
        padding: 20px 20px 60px;

        input[type=email]:focus,
        input[type=text]:focus,
        textarea:focus,
        .contact-submit:hover,
        .contact-submit:focus {
            box-shadow: 8px 8px $primary-accent;
        }
    }
} // end of 450px


@media (max-width: 420px) {
    // MAIN HEADER
    h1 {
        font-size: 8.8rem;
        line-height: 7.8rem;
    }
} // end of 420px


@media (max-width: 374px) {
    // MAIN PAGE
    .main-home {
        h3 {
            font-size: 3.2rem;
            line-height: 4.2rem;
            padding-top: 50%;
        }

        p {
            font-size: 1.8rem;
            line-height: 3.0rem;
        }
        
        h4 {
            font-size: 2.8rem;
            line-height: 3.8rem;
        }
    }
} // end of 374px


@media (max-width: 350px) {
    // MAIN HEADER
    h1 {
        font-size: 7.8rem;
        line-height: 6.8rem;
    }
} // end of 350px
