html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}

.tiny-wrapper {
  width: 70%;
  margin: 0 auto;
}

h3, h4, h5 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

html {
  font-size: 62.5%;
  /* scaling down to 10px */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* setting default size to 16px */
  line-height: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
nav a,
button,
input[type="submit"] {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 13.8rem;
  line-height: 12.6rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 4.2rem;
  text-align: center;
}

h4 {
  font-size: 3.2rem;
}

nav a,
h5 {
  font-size: 2rem;
  line-height: 2.9rem;
}

nav a {
  text-decoration: none;
  text-align: center;
}

p,
input[type=text],
input[type=email],
textarea {
  color: #fff;
}

h3,
h4,
nav a,
button,
input[type=text],
input[type=email],
textarea,
input[type="submit"] {
  letter-spacing: 1px;
}

.find-more,
footer p {
  color: #0c1423;
}

html {
  font-size: 62.5%;
  /* scaling down to 10px */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* setting default size to 16px */
  line-height: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
nav a,
button,
input[type="submit"] {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 13.8rem;
  line-height: 12.6rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 4.2rem;
  text-align: center;
}

h4 {
  font-size: 3.2rem;
}

nav a,
h5 {
  font-size: 2rem;
  line-height: 2.9rem;
}

nav a {
  text-decoration: none;
  text-align: center;
}

p,
input[type=text],
input[type=email],
textarea {
  color: #fff;
}

h3,
h4,
nav a,
button,
input[type=text],
input[type=email],
textarea,
input[type="submit"] {
  letter-spacing: 1px;
}

.find-more,
footer p {
  color: #0c1423;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  padding: 15px 0;
  margin-left: 50px;
}

nav ul a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav ul li:hover a,
nav ul li:focus a {
  color: #86e0f9;
}

.main-header {
  height: 95vh;
  max-height: 1000px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(../assets/header-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/header-image.jpg);
  background-size: cover;
  position: relative;
}

.main-header h1 {
  width: 40%;
}

.main-header .main-fishies {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -80px;
}

.blog-header,
.contact-header {
  height: 70vh;
  min-height: 500px;
  background-size: cover;
}

.blog-header h2,
.contact-header h2 {
  width: 70%;
  margin-top: 12%;
  margin-left: 30%;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
}

.blog-header h2 {
  width: auto;
  max-width: 1920px;
  margin-left: calc(35% + 40px);
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
}

.under-sea {
  background-color: #0c1423;
  min-height: 600px;
}

.under-sea h3 {
  padding-top: 15%;
}

.under-sea button {
  display: block;
  margin: 0 auto 10% auto;
}

h2 + p,
h3 + p {
  margin-top: 5%;
  margin-bottom: 7%;
}

button {
  padding: 12px 25px;
}

.find-more {
  color: #0c1423;
  background-color: #86e0f9;
  border: 3px solid #86e0f9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.find-more:hover,
.find-more:focus {
  -webkit-box-shadow: 15px 15px #0f614e;
          box-shadow: 15px 15px #0f614e;
}

.read-more {
  background-color: #0c1423;
  border: 3px solid #0c1423;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.additions-right,
.nemo-left {
  width: 45%;
}

h4 {
  padding-top: 12%;
}

.additions {
  background-color: #0f614e;
  position: relative;
  min-height: 425px;
}

.additions .additions-left {
  width: 45%;
  position: absolute;
  top: -40px;
  left: 0;
  -webkit-box-shadow: 40px 40px #86e0f9;
          box-shadow: 40px 40px #86e0f9;
}

.additions .additions-right {
  margin-right: 0;
  margin-left: auto;
}

.additions .read-more:hover,
.additions .read-more:focus {
  -webkit-box-shadow: 15px 15px #86e0f9;
          box-shadow: 15px 15px #86e0f9;
}

.nemo {
  background-color: #0f614e;
  min-height: 400px;
  position: relative;
  text-align: right;
}

.nemo .nemo-right {
  width: 45%;
  position: absolute;
  bottom: -40px;
  right: 0;
  -webkit-box-shadow: -40px 40px #86e0f9;
          box-shadow: -40px 40px #86e0f9;
}

.nemo .nemo-left {
  margin-left: 0;
  margin-right: auto;
}

.nemo .read-more:hover,
.nemo .read-more:focus {
  -webkit-box-shadow: -15px 15px #86e0f9;
          box-shadow: -15px 15px #86e0f9;
}

.info {
  background-color: #0c1423;
  min-height: 500px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.info h4 {
  padding-top: 0;
}

.info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 47%;
          flex: 1 0 47%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info li {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info i {
  width: 65px;
  height: 65px;
  font-size: 3rem;
  text-align: center;
  background-color: #86e0f9;
  padding: 15px;
  border-radius: 50%;
}

.info .info-blurb {
  margin-left: 5%;
  width: 90%;
}

.info p {
  padding-bottom: 30px;
}

.whale {
  height: 60vh;
  background-image: url(../assets/banner.jpg);
  background-size: cover;
}

.profile {
  background-color: #0c1423;
  min-height: 400px;
}

.profile h4 {
  padding-top: 0;
}

.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.profile .profile-left {
  width: 25%;
}

.profile img {
  width: 100%;
  display: block;
  -webkit-box-shadow: 40px 40px #86e0f9;
          box-shadow: 40px 40px #86e0f9;
}

.profile .profile-right {
  width: 65%;
}

.gallery {
  background-color: #0f614e;
}

.gallery .wrapper {
  padding: 100px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery li {
  width: 32%;
  overflow: hidden;
}

.gallery li:hover img,
.gallery li:focus img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.gallery img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-body {
  background-color: #0c1423;
}

.main-blog {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-left {
  width: 30%;
  position: relative;
}

.blog-left .aside-image-container {
  width: calc(100% - 20px);
  position: absolute;
  top: 100px;
  left: 0;
}

aside {
  background-color: #0f614e;
  width: 80%;
  margin-left: 20%;
  margin-top: 120px;
  padding: 75% 7% 10% 7%;
}

aside h5 {
  margin-top: 50px;
}

aside ul {
  padding-top: 20px;
}

aside li {
  color: #fff;
  list-style: disc;
  list-style-position: inside;
}

aside a {
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

aside li:hover a,
aside li:focus a {
  text-shadow: 3px 3px 3px #86e0f9;
}

.blog-right {
  width: 65%;
  margin-left: 5%;
  padding-bottom: 10%;
  text-align: left;
  position: relative;
}

.blog-right .blog-image-container {
  width: calc(100% - 40px);
  position: absolute;
  top: -140px;
  right: 0;
  -webkit-box-shadow: -40px 40px #86e0f9;
          box-shadow: -40px 40px #86e0f9;
}

.blog-right .blog-post {
  border: 3px solid #86e0f9;
  width: 90%;
  border-right: none;
  margin-right: 10%;
  padding-left: calc(5% - 3px);
}

.blog-right .blog-content-wrapper {
  padding-top: 70%;
  padding-bottom: 5%;
}

.blog-right h3 {
  text-align: left;
}

.blog-right h3 + p {
  margin-top: 2%;
}

.comment {
  margin: 5% 10% 0 5%;
}

.comment h3 {
  margin-bottom: 7%;
}

.comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10%;
}

.comment-item .comment-image-container {
  width: 11%;
}

.comment-item .comment-blurb {
  width: 85%;
}

.comment-item .comment-date {
  margin-top: 0;
}

.comment-item p:last-of-type {
  margin-bottom: 0;
}

.comment-form,
.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10%;
}

fieldset {
  border: none;
  padding: 0;
}

.name-email {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name-email .your-name,
.name-email .your-email {
  width: 47%;
  height: 60px;
  background-color: #0c1423;
  padding: 10px 25px;
  border: none;
  border-bottom: 3px solid #86e0f9;
}

textarea {
  margin: 5% 0;
  padding: 25px;
  width: 100%;
  height: 300px;
  resize: none;
  background-color: #0c1423;
  border: 3px solid #86e0f9;
}

.your-name,
.your-email,
textarea,
.post-comment {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.your-name:focus,
.your-email:focus,
textarea:focus {
  border: 3px solid #86e0f9;
  -webkit-box-shadow: 15px 15px #86e0f9;
          box-shadow: 15px 15px #86e0f9;
}

.post-comment:hover,
.post-comment:focus {
  background-color: #08352a;
  -webkit-box-shadow: 15px 15px #86e0f9;
          box-shadow: 15px 15px #86e0f9;
}

.post-comment {
  background-color: #0f614e;
  border: none;
  padding: 20px;
}

footer {
  background-color: #86e0f9;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 5px;
}
